<h1>Companies index</h1>
<p><%= button_to "Add a new Company", new_company_url, method: "get" %></p>

<table>

  <tr>
    <th>Company</th>
    <th>Industry</th>
    <th># of Contacts</th>
  </tr>

  <% @companies.each do |f| %>
  <tr>
    <td><%= link_to f.companyname, company_url(f) %></td>
    <td><%= f.industry %></td>
    <td align="center"><%= f.contacts.select do |contact| contact.user == current_user end.count %></td>
    <% end %>
  </tr>

</table>