/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
*/

#manage{
	color: red;
	background-color: #78cc3c;
}

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Century Gothic";
	font-size: small;
}

#background_color {
	background-color: #1965b2;
	height: 100%;
}

#container {
	background-color: #FFFFFF;
	width: 960px;
	margin: 0px auto;
	padding: 0px 30px;
	height: 100%;	
}

p {
	margin: 4px 0;
}

b {
	font-weight: bold;
}
em{
	font-style: italic;
	font-size: smaller;
}
#app_logo {
	float: left;
}

#top_nav {
	float: right;
	margin-top: 30px;
	text-align: right;
}

#page_header {
	font-weight: bold;
	font-size: larger;
	color: #005bab;
	margin-bottom: 5px;
}

#add_new_link {
	font-size: smaller;
}

#to_do_list{
	float: center;
	padding: 40px;
	border-radius: 5px;
	border: 1.75px solid #1965b2;
	box-shadow: 0px 3px 5px #1965b2;
	font-family: 30px , "Century Gothic";
	margin-top: 50px;
}

#list_title{
	font: bold 22px 2px, "Century Gothic";
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), color-stop(0.686, #fff));
	font-size: 22px;
	padding: 0 0 0 10px;
	box-shadow: 0px 0px 5px 0px #444;
}

li:nth-child(odd)    {
	 background-color: rgba(24, 101, 178, 0.25); 
	 padding: 10px;
 }
li:nth-child(even)    { 
	background-color: rgba(137, 187, 40, 0.25); 
	padding: 10px;
}
tr:nth-child(odd)    {
	background-color: rgba(24, 101, 178, 0.25); 
	padding: 10px;
}
tr:nth-child(even)    { 
	background-color: rgba(137, 187, 40, 0.25); 
	padding: 10px;
}

td{
	color: black;
	border: 1px solid silver;
	padding: 3px;
	font-size: smaller;
}
th{
	color: black;
	border: 1px solid silver;
	font-size: 20px;
	font-weight: bold;
	padding: 8px 2px;
	
}

#new_job_button input {
	width: 90px;
	height: 30px;
	color: #ffffff;
	background-color: rgba(24, 101, 178, 0.98);
	border: 1px solid silver;
	border-radius: 5px;
	font-size: 12px;
	margin: 5px 0px;
}


#import{
	float: right;
}
.clear {
	clear: both;
}

#new_contact_form {
	border-radius: 5px;
	background-color: rgba(146, 204, 0, 0.71);
	padding: 5px;
	font-size: smaller;
	width: 275px;
	color: white;
}

div.field {
	text-align: right;
}

div.actions {
	margin-top: 5px;
}
#contact_home_form {
	float: right;
	display: none;
}


#add_new_link {
	margin: 5px 0px;
}

#item_links {
	margin: 10px 0 0 0 ;
}


th {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 15px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

#notice {
  color: white;
  font-weight:bold 
  }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: none; 
    } 
   }




/*#social_networks {
	float: right;
	border: 2px dashed #333;
	padding: 10px;
}



#contact_button input{
	width: 100px;
	height: 30px;
	background-color: #8abb28;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: 8px;
	color: #ffffff;
	margin-left: 0px;
}

#newcontact{
float: left;
margin: 30px 0px 5px 0px;
padding: 5px;
border-radius: 5px;
border: 2px solid #1965b2;
box-shadow: 0px 6px 10px #1965b2;
}


#job_button input{
	width: 100px;
	height: 30px;
	background-color: #8abb28;
	border: 1px solid #333;
	border-radius: 5px;
	font-size: 8px;
	color: #ffffff;	
	margin-left: 0px;
	
}

#addnewjob{
float: left;
padding: 5px;
margin: 30px 0px 5px 0px;
border-radius: 5px;
border: 2px solid #1965b2;
box-shadow: 0px 6px 10px #1965b2;
}


#socialnetworks{
	
float: right;
}*/
