// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul {
  font-size: 15px;
/*  border: 1px solid #333;*/
  margin: 1px;  
  } 
 
 #column1{
 	float: left;
 }
 
#column2{
	float: left;
}

#column3{
	float: left;
}

#column4{
	float: left;
}
        