// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
	width: 960px;
	margin: 0 auto;	
}

body.landing_page {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: white;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

#notice {
	font-family: Verdana;
	text-align: center;
	width: 900px;
	background-color: #1965b2;
	color: white;
	margin: 2px auto;
	padding: 20px;
	border-radius: 5px;
}

#manage{
	color: 1965b2;
	font: bold 1em/1.5em "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
	font-size: 25px;
	padding: 0 20 20 20px;
}
#join{
	color: black;
	font: bold 1em/1.5em "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
	font-size: 15px;
	padding: 20 20 0 20px;
}

#logo{
width: 960px;
text-align: center;
margin-top: 30px;
}

#info{
	text-align: center;
	margin-top: -20px;
	font-family: ,;
}

p.copy{
margin-bottom: 50px ;
}
#header, #about, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
  font: bold 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#blog {
text-align: center;
padding-top: 20px;
	font: bold 1em/1.5em "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
	color: #1964b0;
}


/*#button{
text-align: center;
  display: block;
/*  width: 100px;
  height: 30px;*!/
  margin: 20px auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
    color: #0060b8;
  text-decoration: none;
  text-shadow: 0px 0 rgba(0, 0, 0, 0.35);
  font: bold 30px "Arvo",serif;
  padding: 1px 10px 15px 10px;
  text-align: center;
  background: -webkit-linear-gradient(top, #0060b8 0%, #0060b8 0%, #0060b8 0%, #0060b8 0%, #0060b8 0%, #0060b8 0%, #0060b8 0%) #0060b8;
}*/

	#button input {
		width: 125px;
		height: 40px;
		color: #ffffff;
		background-color: rgba(24, 101, 178, 0.98);
		border: 1px solid #333;
		border-radius: 5px;
		font-size: 20px;
	}

#header {
/*  background-image: url("/assets/HighFiveLogo.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 600px;
  opacity: 0.65;
}
#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}

